.list {
  margin: 0 auto;
}

.li {
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding-bottom: 0.2rem;
  font-weight: 500;
  color: #ccc;
}

.li:hover,
.li.active {
  color: #3f3f3f;
}
